table,
td,
th {
    border: 1px solid gray;
    border-collapse: collapse;
    margin: 0;
}

body {
    background-color: black;
    overflow: hidden;
}

td {
    width: 5vw;
    color: red;
    text-align: center;
    font-weight: bold;
}

tr {
    height: 5vw;
}

.img {
    height: 94px;
    width: 94px;
}

#question {
    display: block;

}
#table {
    display: none;
    table-layout: fixed;
}
.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
button {
    background-color: gray;
}